{{/* Mengambil halaman 'about' */}}
{{ $aboutPage := .Site.GetPage "about.md" }}

{{/* Hanya tampilkan widget jika halaman 'about' ditemukan */}}
{{ if $aboutPage }}
<div class="sidebar-widget widget-about">
  {{ with $aboutPage.Params.profile_image }}
    <img src="{{ . | relURL }}" alt="Foto profil {{ $aboutPage.Title }}">
  {{ end }}
  <h3></h3>
  {{/* Ambil deskripsi singkat dari front matter halaman 'about' */}}
  <p>{{ $aboutPage.Params.description }}</p>
  <a href="{{ $aboutPage.Permalink }}" class="btn btn-primary">Selengkapnya</a>
</div>
{{ end }}