{{- /* JSON-LD untuk halaman */ -}}
{{- $lang := or .Site.Language.Lang "id" -}}
{{- $description := "" -}}
{{- if .IsHome -}}
  {{- $description = site.Params.description -}}
{{- else if .Params.meta_description -}}
  {{- $description = .Params.meta_description -}}
{{- else if .Description -}}
  {{- $description = .Description -}}
{{- else if .Summary -}}
  {{- $description = .Summary -}}
{{- end -}}
{{- $description = $description | plainify | truncate 160 -}}
{{- $image := "" -}}
{{- with .Params.featured_image -}}
  {{- $image = . | absURL -}}
{{- else -}}
  {{- with site.Params.default_image -}}
    {{- $image = . | absURL -}}
  {{- end -}}
{{- end -}}
{{- $author := or site.Params.author site.Title -}}
{{- $authorFull := or site.Params.author_full $author -}}
{{- $logo := "" -}}
{{- with site.Params.logo -}}
  {{- $logo = . | absURL -}}
{{- end -}}
{{- $sameAs := site.Params.same_as | default (slice) -}}
{{- $contactPoints := slice -}}
{{- with site.Params.contact_phone -}}
  {{- $contactPoints = $contactPoints | append (dict "@type" "ContactPoint" "telephone" . "contactType" "customer support") -}}
{{- end -}}
{{- with site.Params.contact_email -}}
  {{- $contactPoints = $contactPoints | append (dict "@type" "ContactPoint" "email" . "contactType" "customer support") -}}
{{- end -}}

{{- if .IsHome -}}
  {{- $website := dict
    "@context" "https://schema.org"
    "@type" "WebSite"
    "name" site.Title
    "url" site.BaseURL
    "description" $description
    "inLanguage" $lang
  -}}
  <script type="application/ld+json">{{ $website | jsonify | safeJS }}</script>

  {{- $org := dict
    "@context" "https://schema.org"
    "@type" "Organization"
    "name" (or site.Params.brand site.Title)
    "url" site.BaseURL
    "description" $description
    "logo" $logo
    "image" $logo
    "sameAs" $sameAs
    "contactPoint" $contactPoints
  -}}
  <script type="application/ld+json">{{ $org | jsonify | safeJS }}</script>
{{- else if .IsPage -}}
  {{- $published := .PublishDate }}
  {{- if not $published -}}
    {{- $published = .Date -}}
  {{- end -}}
  {{- $modified := or .Lastmod $published -}}
  {{- $article := dict
    "@context" "https://schema.org"
    "@type" "Article"
    "headline" .Title
    "description" $description
    "image" $image
    "datePublished" ($published.Format "2006-01-02")
    "dateModified" ($modified.Format "2006-01-02")
    "author" (dict "@type" "Person" "name" $author)
    "publisher" (dict "@type" "Organization" "name" site.Title)
    "mainEntityOfPage" (dict "@type" "WebPage" "id" .Permalink)
    "inLanguage" $lang
  -}}
  <script type="application/ld+json">{{ $article | jsonify | safeJS }}</script>

  {{- /* Person schema untuk halaman About */ -}}
  {{- if or (eq .Layout "about") (eq .Type "about") -}}
    {{- $personImage := $image -}}
    {{- with .Params.profile_image -}}
      {{- $personImage = . | absURL -}}
    {{- end -}}
    {{- $person := dict
      "@context" "https://schema.org"
      "@type" "Person"
      "name" $authorFull
      "description" $description
      "image" $personImage
      "url" .Permalink
      "sameAs" $sameAs
      "email" site.Params.contact_email
      "telephone" site.Params.contact_phone
    -}}
    <script type="application/ld+json">{{ $person | jsonify | safeJS }}</script>
  {{- end -}}

  {{- /* BreadcrumbList: Home > Section (jika ada) > Halaman */ -}}
  {{- $pos := 1 -}}
  {{- $items := slice (dict "@type" "ListItem" "position" $pos "name" "Home" "item" site.BaseURL) -}}
  {{- if .Section -}}
    {{- $pos = add $pos 1 -}}
    {{- $sectionURL := printf "%s/%s/" (strings.TrimSuffix "/" site.BaseURL) .Section -}}
    {{- $items = $items | append (dict "@type" "ListItem" "position" $pos "name" (humanize .Section) "item" $sectionURL) -}}
  {{- end -}}
  {{- $pos = add $pos 1 -}}
  {{- $items = $items | append (dict "@type" "ListItem" "position" $pos "name" .Title "item" .Permalink) -}}
  {{- $breadcrumb := dict
    "@context" "https://schema.org"
    "@type" "BreadcrumbList"
    "itemListElement" $items
  -}}
  <script type="application/ld+json">{{ $breadcrumb | jsonify | safeJS }}</script>
{{- end -}}
